<!DOCTYPE html>
<html>
<body>

<p>A-Line Skirt Calculator</p>
<div id="submit-location">
    <h1> Enter your details so that we can work out your pattern </h1>
    <form method="post" action="/calculators/alineresult">
      <label for="length">Skirt Length (use table as a guide if you are unable to measure): </label>
      <input type="number" id="length" name="length" value="" placeholder="skirt length" required="not required" autofocus="autofocus"  />
      <label for="waist">Waist measurement: </label>
      <input type="number" id="waist" name="waist" value="" placeholder="Waist measurement" required="required" autofocus="autofocus"  />
      <label for="hip">Hip measurement: </label>
      <input type="text" id="hip" name="hip" value="" placeholder="hip measurement" required="not required" />
      <label for="waist_hip_distance">Distance from waist to hip: </label>
      <input type="number" id="waist_hip_distance" name="waist_hip_distance" value="" placeholder="distance from waist to hip" required="not required" />
      <input type="submit" value= "Submit" id="submit button" />
    </form>
</div>

<div id= "pattern">
  <p>Waist: {{pattern_waist}}</p>
</div>
</body>
</html>
